.App {
    text-align: center;
    padding: 50px;
}

button {
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px 80px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}

input {
    background-color: #FFF;
    color: #000000;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 20px;
    text-align: right;
    margin-bottom: 20px;
}

p {
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 0;
}

::placeholder {
    color: #ddd;
}

.large {
    font-size: 24px;
}

.small {
    font-size: 16px;
}

.appLabel {
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.smallStar {
    font-size: 20px;
}

.largeStar {
    font-size: 35px;
    margin-top: -20px;
}

.star {
    color: rgba(0, 0, 0, 0.3);
}
.starContainer{
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}